<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<div class="header-container">
    <span class="text-logo">Pojištění Soukal</span>
    <nav class="nav-container">
        <ul>
            <li><a href="/uvodni-stranka">Úvodní stránka</a></li>
            <li><a href="/pojistenci">Pojištěnci</a></li>
            <li><a href="/pojisteni">Pojištění</a></li>
            <li><a href="">Události</a></li>
        </ul>
    </nav>
    <div class="login-container">
        <a href="">Přihlásit</a>
        <a href="">Registrovat</a>
    </div>
</div>

</body>
</html>